body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.project {
    margin-bottom: 20px;
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.project-link {
    font-size: 1.2em;
    color: #007BFF;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline:
}
